process {

    withName: 'CNVKIT_BATCH' {
        ext.args         = { params.wes ? "--method hybrid --diagram --scatter" : "--method wgs --diagram --scatter" }
    }
    withName: 'CNVKIT_EXPORT' {
        ext.args         = { meta.gender.replaceAll(/Male/, "vcf -x male").replaceAll(/Female/, "vcf -x female").replaceAll(/Unknown/, "vcf ") }
        ext.prefix       = {"${meta.id}.cnvkit"}
    }
}