/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/argogermline -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test Profile Full'
    config_profile_description = 'Minimal test dataset to check full pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '20.m'

    study_id               = "TEST-PR"
    analysis_id            = "aaf8d346-c24f-493b-b8d3-46c24f393b92"
    dict                   = "./tests/reference/sequence/WholeGenomeFasta/genome.dict"
    fasta_fai              = "./tests/reference/sequence/WholeGenomeFasta/genome.fasta.fai"
    fasta                  = "./tests/reference/sequence/WholeGenomeFasta/genome.fasta"
    known_snps             = "./tests/reference/annotation/GATKBundle/1000g_pon.hg38.chr22.1959.41960.vcf.gz"
    known_snps_tbi         = "./tests/reference/annotation/GATKBundle/1000g_pon.hg38.chr22.1959.41960.vcf.gz.tbi"
    dbsnp                  = "./tests/reference/annotation/GATKBundle/dbsnp_146.hg38.chr22.1959.41960.vcf.gz"
    dbsnp_tbi              = "./tests/reference/annotation/GATKBundle/dbsnp_146.hg38.chr22.1959.41960.vcf.gz.tbi"
    bwa                    = "./tests/reference/sequence/BWAIndex/"
    intervals_bed          = "./tests/reference/annotation/intervals/intervals.chr22.1959.41960.bed"
    intervals_bed_gz       = "./tests/reference/annotation/intervals/intervals.chr22.1959.41960.bed.gz"
    intervals_bed_gz_tbi   = "./tests/reference/annotation/intervals/intervals.chr22.1959.41960.bed.gz.tbi"
    known_indels           = "./tests/reference/annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.hg38.chr22.1959.41960.vcf.gz"
    known_indels_tbi       = "./tests/reference/annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.hg38.chr22.1959.41960.vcf.gz.tbi"
    no_intervals           = false
    tools                  = "recalibrate,deepvariant,cnvkit,tiddit,manta,strelka,haplotypecaller,freebayes"
    outdir                 = "out"
    nucleotides_per_second = 1
    cleanup                = true
}
