/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests RDPC QA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Debug in RDPC QA profile'
    config_profile_description = 'Set RDPC QA profile to check pipeline function'

    // Limit resources so that this can run the test on local machine
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '2.h'

    // data staging params
    song_url                   = "https://song.rdpc-qa.cancercollaboratory.org"
    score_url                  = "https://score.rdpc-qa.cancercollaboratory.org"
    song_url_download          = "https://song.rdpc-qa.cancercollaboratory.org"
    score_url_download         = "https://score.rdpc-qa.cancercollaboratory.org"
    song_url_upload            = "https://song.rdpc-qa.cancercollaboratory.org"
    score_url_upload           = "https://score.rdpc-qa.cancercollaboratory.org"

}