process {

    withName: 'SELECT_VCF_INDEL' {
        ext.prefix       = {"${meta.id}.vcf.indel"}
        ext.args         = {"--select-type-to-include INDEL --create-output-variant-index"}
    }
    withName: 'SELECT_VCF_SNV' {
        ext.prefix       = {"${meta.id}.vcf.snv"}
        ext.args         = {"--select-type-to-exclude INDEL --create-output-variant-index"}
    }
}