
includeConfig '../bcftools/sort/module.config'
process {

    withName: 'FREEBAYES' {
        ext.args         = '--min-alternate-fraction 0.1 --min-mapping-quality 1'
        ext.prefix       = { meta.num_intervals <= 1 ? "${meta.id}.freebayes" : "${meta.id}.freebayes.${target_bed.simpleName}" }
    }
}