process {

    withName: 'BCFTOOLS_MPILEUP' {
        ext.args2  = "--multiallelic-caller"
        ext.args3  = "-i 'count(GT==\"RR\")==0'" // only report non homozygous reference variants
        ext.prefix       = { meta.num_intervals <= 1 ? "${meta.id}.freebayes" : "${meta.id}.mpileup.${intervals.simpleName}" }
    }
}